@import "tailwindcss";

:root {
  --background: #070c0c;
  --text: #e7ecec;
  --primary: #00ffe6;
  --secondary: #277870;
  --accent: #46d7c8;
}

@theme inline {
  --color-background: #070c0c;
  --color-text: #e7ecec;
  --color-primary: #00ffe6;
  --color-secondary: #277870;
  --color-accent: #46d7c8;
  --color-font-inter: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #070c0c;
    --text: #e7ecec;
    --primary: #00ffe6;
    --secondary: #277870;
    --accent: #46d7c8;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  scrollbar-gutter: stable; /* Preferred method */
}
